:root {
    --白色:#ffffff;
    --暖白:#FAF8F7;
    --灰白:#F2F2F2;
    --蓝色:#2D9AFF;
    --深蓝:#1A415D;
    --绿色:#51A451;
    --棕灰:#6A4B4B;
    --09:#333333;
    --10:#4419191A;
    --11:#111111;
    --12:#160C0C;
    --13:#130101;
    --14:#000000;
    --11:#13010166;
    --11:#D8D8D8FC;
    --11:#909090FC;
    --11:#484848FC;
    --11:#44191919;
    --11:#B99F657F;
    --11:#0000000C;
    --11:#A40000F4;
    --11:#FFFFFFA5;
    --11:#000000CC;
    --11:#0067DF4C;
    --11:#210707BF;
    --11:#210707BF;
    --11:#0071C428;
}